<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <title>Contact Us</title>
</head>
<body>
<h1>Contact Us</h1>
    <p>We’d love to hear from you! Feel free to reach out with questions, comments, or to place an order.</p>

    <h2>Contact Information</h2>
    <p><strong>Email:</strong> support@nairobifarms.co.ke</p>
    <p><strong>Phone:</strong> +254 700 123 456</p>

    <h2>Location</h2>
    <p>Nairobi Farms is located in the heart of Nairobi, close to our farmers to ensure we deliver fresh produce quickly and efficiently.</p>

    <a href="{% url 'home' %}">Back to Home</a>

</body>
</html>